/*
author: Keightlyn Thornton
Date: 07/09/2021
File Name: style.css
*/

/*css reset*/
head, main, body , p, nav, footer, header, h1, h2, a{
	margin{0}
	padding{0}
	border{0}
}

body{
	font-family: 'Roboto', sans-serif;
	color: #00ff00;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #000000;
	
}

/*header*/
header{
	text-align: center;
	font-size: 200%;
}

/*img*/
img{
	width: 100%;
	height: 100px;
	padding-right: 0;
	padding-left: 0;
	display: block;
}

/*nav section*/
ul{
	display: table;
	width: 100%;
	font-size: 100%;
}

li{
	display: table-cell;
	text-align: center;
}

ul li::before{
	content: "\2022";
	color: #00ff00; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.navlink{
	text-decoration: none;
	color: #00ff00;
}
