/*
author: Keightlyn Thornton
Date: 07/09/2021
File Name: style.css
*/

/*css reset*/
head, main, body , p, nav, footer, header, h1, h2, a{
	margin{0}
	padding{0}
	border{0}
}

body{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #000000;
	
}

/*header*/
header{
	text-align: center;
	font-size: 200%;
}

h1{
	color: #00ff00;
	padding-bottom: 10%;
}

h2{
	color: #ffffff;
	font-size: x-large;
}

/*img*/
img{
	width: 100%;
	height: 100px;
	padding-right: 0;
	padding-left: 0;
	display: block;
}

/*nav section*/
ul{
	display: table;
	width: 100%;
	border-bottom: solid #00ff00 2px;
}

li{
	display: table-cell;
	text-align: center;
	padding-bottom: 10px;
}

.navlink:link{
	text-decoration: none;
	color: #00ff00;
	font-size: large;
	font-family: 'Roboto', sans-serif;
}

.navlink:hover{
	font-style: italic;
	font-weight: bold;
}

/*main elements*/
p{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: large;
}
