/*
author: Keightlyn Thornton
Date: 07/09/2021
File Name: style.css
*/

/*css reset*/
head, main, body , p, nav, footer, header, h1, h2, a{
	margin{0}
	padding{0}
	border{0}
}

body{
	font-family: 'Encode Sans SC', sans-serif;
	color: #00ff00;
	padding: 0;
	margin: 0;
	border: 0;
	
}

/*background*/
html{background-color: #000000;}

/*header*/
header{
	text-align: center;
	font-size: large;
}

/*img*/
img{
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
